.gmap {
	margin-top: 20px;
	position: relative;

	&-wrapper {
		width: 100%;
		margin: 0;
	}

	#clusterMap,
	&#mapCanvas {
		min-height: 500px;
	}
	
	.form-control {
		position: absolute;
		z-index: 30;
		top: 50px;
		left: 10px;
		width: 240px;
	}

	.switch-markers {
		position: absolute;
		z-index: 20;
		right: 4px;
		top: 4px;
		background: rgba(255,255,255,1);
		padding: 4px;
		border-radius: 7px;

		.icon {
			display: inline-block;
			vertical-align: middle;
			margin: 0 4px;
			border-radius: 4px;
			cursor: pointer;
		}

		&__show-lost {
			@include sprite($icon-markers-lost);

			&.icon_active {
				@include sprite($icon-markers-lost-active);
			}
		}

		&__show-found {
			@include sprite($icon-markers-found);

			&.icon_active {
				@include sprite($icon-markers-found-active);
			}
		}

		&__show-all {
			@include sprite($icon-markers-all);

			&.icon_active {
				@include sprite($icon-markers-all-active);
			}
		}
	}
}