.tags {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	padding: 1px;
	overflow: hidden;
	word-wrap: break-word;
	cursor: text;
	background-color: #fff;

	.host & {
		position: relative;
		margin-bottom: 10px;
	}

	.tag-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	LI.tag-item {
	    margin: 0px 5px 5px 0px;
	    padding: 6px 5px;
	    display: inline-block;
	    float: left;
	    line-height: 19px;
	    border: 1px solid $green;
	    border-radius: 3px;
	    background: $green;
	    color: #fff;
	}

	.remove-button {
		margin: 0 0 0 5px;
		padding: 0;
		border: none;
		background: 0 0;
		cursor: pointer;
		vertical-align: middle;
		color: #fff;
	}

	INPUT {
		border: 1px solid #ccc;
		border-radius: 4px;
		outline: 0px;
		padding: 6px 0px 6px 8px;
		float: left;
		font-size: 14px;
		min-width: 81% !important;
	}
}