.advert {

	.center-block {
		float: none;
	}

	&__item {

		IMG {
			max-width: 200px;
			height: auto;
		}
	}

	.results {
		width: 600px;
		margin: 0 auto;

		LI {
			display: table;
			width: 100%;
			margin-bottom: 30px;
			padding: 20px;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.18);

			> .result__content,
			> .result__image {
				display: table-cell;
			}

			.result__content {
				width: 60%;
			}

			.result__image {
				width: 40%;
			}

			H3 {
				margin-top: 5px;
			}

			.time {
				font-size: 12px;
			}

			.result__image {
				text-align: right;

				IMG {
					vertical-align: top;
					width: 180px;
					height: auto;
				}
			}

			&.lost {
				border-right: 4px solid $red;
			}

			&.found {
				border-right: 4px solid $green;
			}
		}
	}

	&__views {
		padding-left: 20px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			z-index: 12;
			left: 0px;
			top: 0px;
			@include sprite($ico-views);
		}
	}

	&__image {
		text-align: center;
	}

	#advertMap {
		min-height: 300px;
	}

	PRE.results {
		margin-bottom: 20px;
	}
}