.advert {

	.center-block {
		float: none;
	}

	&__item {

		IMG {
			max-width: 200px;
			height: auto;
		}
	}

	.results {
		width: 600px;
		margin: 0 auto;

		LI {
			display: table;
			position: relative;
			border-radius: 5px;
			width: 100%;
			margin-bottom: 30px;
			padding: 20px;
			box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.18);

			> .result__content,
			> .result__image {
				display: table-cell;
			}

			.result__content {
				width: 60%;
				padding-top: 20px;
			}

			.result__image {
				width: 40%;
			}

			.result__badge {
				position: absolute;
				z-index: 20;
				top: 10px;
				left: -10px;
				padding: 2px 10px;
				color: #fff;
				font-size: 16px;
				text-transform: uppercase;
				border-radius: 6px;
			}

			H3 {
				margin-top: 5px;
			}

			.time {
				font-size: 12px;
				position: absolute;
				z-index: 20;
				bottom: 5px;
				left: 20px;
				color: $gray;
			}

			.result__image {
				text-align: right;

				IMG {
					vertical-align: top;
					width: 180px;
					height: auto;
				}
			}

			&.lost {
				border-right: 4px solid $orange;

				.result__badge {
					background: $orange;
				}
			}

			&.found {
				border-right: 4px solid $green;

				.result__badge {
					background: $green;
				}
			}
		}
	}

	&__views,
	&__time {
		padding-left: 20px;
		position: relative;
		margin-right: 10px;

		&:before {
			content: "";
			position: absolute;
			z-index: 12;
			left: 0px;
			top: 0px;
		}
	}

	&__views:before {
		@include sprite($ico-views);
	}

	&__time:before {
		@include sprite($ico-time);
	}

	&__image {
		text-align: center;
	}

	#advertMap {
		min-height: 300px;

		.search__preloader {
			position: absolute;
			z-index: 10;
			top: 50%;
			margin-top: -10px;
			left: 50%;
			margin-left: -10px;
		}
	}

	PRE.results {
		margin-bottom: 20px;
	}
}