.user {
	text-align: right;

	&__auth {
		display: inline-block;
		vertical-align: top;

		LI, A {
			display: inline-block;
		}

		LI {
			margin-left: 10px;
		}
	}

	&__info {

		IMG {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}

	&__creds {
		display: inline-block;
		vertical-align: middle;
	}

	&__geolocation {
		font-style: italic;
		font-size: 12px;
	}

	&__pm {
		vertical-align: middle;
		margin-right: 5px;
		position: relative;

		.pm {
			display: inline-block;
		}
	}
}