.user {
	text-align: right;

	&__auth {
		display: inline-block;
		vertical-align: top;

		LI, A {
			display: inline-block;
		}

		LI {
			margin-left: 10px;
		}
	}

	&__info {

		IMG {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
	}

	&__creds {
		display: inline-block;
		vertical-align: middle;
	}

	&__geolocation {
		font-style: italic;
		font-size: 12px;
	}

	&__pm {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		position: relative;

		&_recieved {
			@include sprite ($icon-pm-recieved);
		}

		&_private {
			@include sprite ($icon-private);
		}

		.pm {
			position: absolute;
			z-index: 20;
			top: -17px;
			right: 0px;
			padding: 0px;
			border-radius: 50%;
			text-align: center;
			background: $orange;
			color: #fff;
			width: 20px;
			height: 20px;
		}
	}
}