.share {
    I, B {
        display: inline-block;
        vertical-align: middle;
    }

    I {
        cursor: pointer;
    }
    &__btn_fb {
       transform: scale(2.6);
       transform-origin: top left;
    }
    &__btn_vk {
        position: relative;
        z-index: 99;
       @include sprite ($share-vk);
    }
    &__btn_tw {
       @include sprite ($share-tw);
    }
    &__btn_gplus {
       @include sprite ($share-gplus);
    }
    
    .fb_iframe_widget span {
        width: 36px !important;
        height: 36px !important;
    }
}
