.controls {
	padding: 20px 0;

	&__search {
		position: relative;
		
		.search__btn {
			position: absolute;
			border: none;
			z-index: 11;
			top: 4px;
			right: 4px;
			background: #fff;
			padding: 5px 12px;
			@include sprite($icon-search);
		}

		.search__preloader {
			display: none;
			position: absolute;
			z-index: 10;
			top: 2px;
			width: 30px;
			right: 40px;;
		}
	}
}