.steps {
	.step {
		display: inline-block;
		vertical-align: middle;
		@include sprite($icon-step-disable);

		&.step_check {
			@include sprite($icon-step-check);
		}
	}

	&_wrapper {
		padding-bottom: 20px;
	}
}