.steps {
	.step {
		display: inline-block;
		vertical-align: middle;
		@include sprite($icon-step-disable);

		&.step_check {
			@include sprite($icon-step-check);
		}
	}

	&_wrapper {
		padding-bottom: 20px;
	}

	&_main {
		margin: 20px auto 20px;

		P {
			color: #5e686e;
			font-size: 14px;
			text-align: center;
		}

		.visual {
			position: absolute;
			z-index: 10;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 5px;
			background: $gray-light;

			&:before {
				content: '';
				position: absolute;
				display: inline-block;
				z-index: 20;
				top: -8px;
				left: 0px;
				@include sprite($icon-link);
			}
		}

		.item {
			position: relative;
			padding-top: 20px;

			&:first-child {
				.visual:before {
					@include sprite($icon-link-start);
				}
			}

			&:last-child {
				.visual:after {
					content: '';
					position: absolute;
					display: inline-block;
					z-index: 20;
					top: -8px;
					right: 0px;
					@include sprite($icon-link-end);
				}
			}
		}
	}

	&_form {
		.step_check {
			.visual {
				background: $green;
				&:before {
					@include sprite($icon-link-active);
				}
			}

			&:first-child {
				.visual:before {
					@include sprite($icon-link-start-active);
				}
			}

			&:last-child {
				.visual:after {
					@include sprite($icon-link-end-active);
				}
			}
		}
	}
}