.verify {

	TEXTAREA {
		min-height: 100px;
	}
}

#search-results {
	.link {
		position: absolute;
		z-index: 20;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.meta {
		position: relative;
		z-index: 21;
	}
}

#searchPlace {
	position: absolute;
	z-index: 30;
	top: 50px;
	left: 10px;
	width: 240px;
}