.verify {

	TEXTAREA {
		min-height: 100px;
	}
}

#search-results {
	.link {
		position: absolute;
		z-index: 20;
		top:0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.meta {
		position: relative;
		z-index: 21;
	}
}

#searchPlace {
	position: absolute;
	z-index: 30;
	top: 10px;
	left: 50%;
	width: 360px;
	margin-left: -180px;
}

#infowindow {
	.image {
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}

	.image,
	.content {
		display: inline-block;
		vertical-align: top;
	}
}

.form-step {
	border: 1px solid $gray-light;
	padding: 15px 0px 15px 90px;
	border-radius: 6px;
	position: relative;
	min-height: 66px;
	margin-bottom: 30px;

	&__badge {
		color: #fff;
		font-weight: 500;
		font-size: 16px;
		padding: 9px 20px;
		background: $green;
		position: absolute;
		z-index: 20;
		top: 12px;
		left: -10px;
		border-radius: 6px;
	}


	.toggle {
	    color: $green;
	    text-transform: uppercase;
	    font-size: 16px;
	    font-weight: 300;
	    position: absolute;
	    z-index: 21;
	    bottom: 10px;
	    right: 10px;
	    padding: 10px 30px;
	    cursor: pointer;

	    &_up,
	    &_down {
	    	&:after {
	    		content: '';
	    		position: absolute;
	    		z-index: 22;
	    		right: 0px;
	    		top: 9px;
	    	}
	    }

	    &_up:after {
	    	@include sprite($form-step-toggle);
	    }

	    &_down:after {
	    	@include sprite($form-step-toggle-down);
	    }
	}
}