@media all and (max-width: 768px) {
	.controls .text-right,
	.controls .text-left {
		text-align: center;
	}

	.controls {

		.col-xs-6 {
			z-index: 99;
		}

		A.btn {
			margin: 10px 0;
		}

		.text-center {
			padding: 0;
		}

		.btn_lost {
			text-align: right;
		}
	}

	.advert .results {
		width: 100%;

		LI .result__content,
		LI .result__image {
			display: block;
			width: 100%;
		}

		LI .result__image {
			text-align: center;
		}
	}

	.popup {

		.popup__container {
		    width: 90%;
		    margin-left: -45%;

		    .form_feedback,
		    .form_signin {
		    	padding: 25px 10px 10px 10px;
		    }
		}

		.popup__header {
			font-size: 15px;
		}
	}

	.form {

		.phone_prefix {
			left: 15px;
		}
		
		#phone {
			margin-left: 30px;
			width: 89%;
		}
	}

	.counter,
	.latest {
		margin-top: 10px;

		P {
			font-size: 12px;
			text-align: center;
		}
	}

	footer {
		.info__links {
			LI {
				display: block;
			}
		}
	}

	.user-links {
		text-align: center;
		margin-bottom: 10px;

		P {
			display: inline-block;
			padding: 0 10px;
		}
	}

	.gmap-wrapper .gmap #clusterMap {
		min-height: 300px;
	}

	.steps_main .visual:before,
	.steps_main .visual:after {
		left: 45%;
	}

	.steps_main .visual:after {
		left: 44%;
	}

	.steps_main .item:last-child .visual:before {
		display: none;
	}
}
