/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$ico-time-x: 0px;
$ico-time-y: 13px;
$ico-time-offset-x: 0px;
$ico-time-offset-y: -13px;
$ico-time-width: 16px;
$ico-time-height: 16px;
$ico-time-total-width: 40px;
$ico-time-total-height: 494px;
$ico-time-image: '../img/spritesheet.png';
$ico-time: 0px 13px 0px -13px 16px 16px 40px 494px '../img/spritesheet.png';
$ico-views-x: 0px;
$ico-views-y: 0px;
$ico-views-offset-x: 0px;
$ico-views-offset-y: 0px;
$ico-views-width: 19px;
$ico-views-height: 13px;
$ico-views-total-width: 40px;
$ico-views-total-height: 494px;
$ico-views-image: '../img/spritesheet.png';
$ico-views: 0px 0px 0px 0px 19px 13px 40px 494px '../img/spritesheet.png';
$icon-fb-x: 0px;
$icon-fb-y: 254px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -254px;
$icon-fb-width: 40px;
$icon-fb-height: 40px;
$icon-fb-total-width: 40px;
$icon-fb-total-height: 494px;
$icon-fb-image: '../img/spritesheet.png';
$icon-fb: 0px 254px 0px -254px 40px 40px 40px 494px '../img/spritesheet.png';
$icon-info-x: 0px;
$icon-info-y: 29px;
$icon-info-offset-x: 0px;
$icon-info-offset-y: -29px;
$icon-info-width: 16px;
$icon-info-height: 16px;
$icon-info-total-width: 40px;
$icon-info-total-height: 494px;
$icon-info-image: '../img/spritesheet.png';
$icon-info: 0px 29px 0px -29px 16px 16px 40px 494px '../img/spritesheet.png';
$icon-search-x: 0px;
$icon-search-y: 45px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -45px;
$icon-search-width: 25px;
$icon-search-height: 25px;
$icon-search-total-width: 40px;
$icon-search-total-height: 494px;
$icon-search-image: '../img/spritesheet.png';
$icon-search: 0px 45px 0px -45px 25px 25px 40px 494px '../img/spritesheet.png';
$icon-simple-reg-x: 0px;
$icon-simple-reg-y: 214px;
$icon-simple-reg-offset-x: 0px;
$icon-simple-reg-offset-y: -214px;
$icon-simple-reg-width: 40px;
$icon-simple-reg-height: 40px;
$icon-simple-reg-total-width: 40px;
$icon-simple-reg-total-height: 494px;
$icon-simple-reg-image: '../img/spritesheet.png';
$icon-simple-reg: 0px 214px 0px -214px 40px 40px 40px 494px '../img/spritesheet.png';
$share-fb-x: 0px;
$share-fb-y: 142px;
$share-fb-offset-x: 0px;
$share-fb-offset-y: -142px;
$share-fb-width: 36px;
$share-fb-height: 36px;
$share-fb-total-width: 40px;
$share-fb-total-height: 494px;
$share-fb-image: '../img/spritesheet.png';
$share-fb: 0px 142px 0px -142px 36px 36px 40px 494px '../img/spritesheet.png';
$share-gplus-x: 0px;
$share-gplus-y: 178px;
$share-gplus-offset-x: 0px;
$share-gplus-offset-y: -178px;
$share-gplus-width: 36px;
$share-gplus-height: 36px;
$share-gplus-total-width: 40px;
$share-gplus-total-height: 494px;
$share-gplus-image: '../img/spritesheet.png';
$share-gplus: 0px 178px 0px -178px 36px 36px 40px 494px '../img/spritesheet.png';
$share-tw-x: 0px;
$share-tw-y: 106px;
$share-tw-offset-x: 0px;
$share-tw-offset-y: -106px;
$share-tw-width: 36px;
$share-tw-height: 36px;
$share-tw-total-width: 40px;
$share-tw-total-height: 494px;
$share-tw-image: '../img/spritesheet.png';
$share-tw: 0px 106px 0px -106px 36px 36px 40px 494px '../img/spritesheet.png';
$share-vk-x: 0px;
$share-vk-y: 70px;
$share-vk-offset-x: 0px;
$share-vk-offset-y: -70px;
$share-vk-width: 36px;
$share-vk-height: 36px;
$share-vk-total-width: 40px;
$share-vk-total-height: 494px;
$share-vk-image: '../img/spritesheet.png';
$share-vk: 0px 70px 0px -70px 36px 36px 40px 494px '../img/spritesheet.png';
$social-fb-x: 0px;
$social-fb-y: 294px;
$social-fb-offset-x: 0px;
$social-fb-offset-y: -294px;
$social-fb-width: 40px;
$social-fb-height: 40px;
$social-fb-total-width: 40px;
$social-fb-total-height: 494px;
$social-fb-image: '../img/spritesheet.png';
$social-fb: 0px 294px 0px -294px 40px 40px 40px 494px '../img/spritesheet.png';
$social-gp-x: 0px;
$social-gp-y: 334px;
$social-gp-offset-x: 0px;
$social-gp-offset-y: -334px;
$social-gp-width: 40px;
$social-gp-height: 40px;
$social-gp-total-width: 40px;
$social-gp-total-height: 494px;
$social-gp-image: '../img/spritesheet.png';
$social-gp: 0px 334px 0px -334px 40px 40px 40px 494px '../img/spritesheet.png';
$social-ok-x: 0px;
$social-ok-y: 374px;
$social-ok-offset-x: 0px;
$social-ok-offset-y: -374px;
$social-ok-width: 40px;
$social-ok-height: 40px;
$social-ok-total-width: 40px;
$social-ok-total-height: 494px;
$social-ok-image: '../img/spritesheet.png';
$social-ok: 0px 374px 0px -374px 40px 40px 40px 494px '../img/spritesheet.png';
$social-tw-x: 0px;
$social-tw-y: 414px;
$social-tw-offset-x: 0px;
$social-tw-offset-y: -414px;
$social-tw-width: 40px;
$social-tw-height: 40px;
$social-tw-total-width: 40px;
$social-tw-total-height: 494px;
$social-tw-image: '../img/spritesheet.png';
$social-tw: 0px 414px 0px -414px 40px 40px 40px 494px '../img/spritesheet.png';
$social-vk-x: 0px;
$social-vk-y: 454px;
$social-vk-offset-x: 0px;
$social-vk-offset-y: -454px;
$social-vk-width: 40px;
$social-vk-height: 40px;
$social-vk-total-width: 40px;
$social-vk-total-height: 494px;
$social-vk-image: '../img/spritesheet.png';
$social-vk: 0px 454px 0px -454px 40px 40px 40px 494px '../img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
