/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$ico-time-x: 0px;
$ico-time-y: 13px;
$ico-time-offset-x: 0px;
$ico-time-offset-y: -13px;
$ico-time-width: 16px;
$ico-time-height: 16px;
$ico-time-total-width: 40px;
$ico-time-total-height: 738px;
$ico-time-image: '../img/spritesheet.png';
$ico-time: 0px 13px 0px -13px 16px 16px 40px 738px '../img/spritesheet.png';
$ico-views-x: 0px;
$ico-views-y: 0px;
$ico-views-offset-x: 0px;
$ico-views-offset-y: 0px;
$ico-views-width: 19px;
$ico-views-height: 13px;
$ico-views-total-width: 40px;
$ico-views-total-height: 738px;
$ico-views-image: '../img/spritesheet.png';
$ico-views: 0px 0px 0px 0px 19px 13px 40px 738px '../img/spritesheet.png';
$icon-fb-x: 0px;
$icon-fb-y: 498px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -498px;
$icon-fb-width: 40px;
$icon-fb-height: 40px;
$icon-fb-total-width: 40px;
$icon-fb-total-height: 738px;
$icon-fb-image: '../img/spritesheet.png';
$icon-fb: 0px 498px 0px -498px 40px 40px 40px 738px '../img/spritesheet.png';
$icon-info-x: 0px;
$icon-info-y: 29px;
$icon-info-offset-x: 0px;
$icon-info-offset-y: -29px;
$icon-info-width: 16px;
$icon-info-height: 16px;
$icon-info-total-width: 40px;
$icon-info-total-height: 738px;
$icon-info-image: '../img/spritesheet.png';
$icon-info: 0px 29px 0px -29px 16px 16px 40px 738px '../img/spritesheet.png';
$icon-markers-all-active-x: 0px;
$icon-markers-all-active-y: 45px;
$icon-markers-all-active-offset-x: 0px;
$icon-markers-all-active-offset-y: -45px;
$icon-markers-all-active-width: 37px;
$icon-markers-all-active-height: 22px;
$icon-markers-all-active-total-width: 40px;
$icon-markers-all-active-total-height: 738px;
$icon-markers-all-active-image: '../img/spritesheet.png';
$icon-markers-all-active: 0px 45px 0px -45px 37px 22px 40px 738px '../img/spritesheet.png';
$icon-markers-all-x: 0px;
$icon-markers-all-y: 67px;
$icon-markers-all-offset-x: 0px;
$icon-markers-all-offset-y: -67px;
$icon-markers-all-width: 37px;
$icon-markers-all-height: 22px;
$icon-markers-all-total-width: 40px;
$icon-markers-all-total-height: 738px;
$icon-markers-all-image: '../img/spritesheet.png';
$icon-markers-all: 0px 67px 0px -67px 37px 22px 40px 738px '../img/spritesheet.png';
$icon-markers-found-active-x: 0px;
$icon-markers-found-active-y: 89px;
$icon-markers-found-active-offset-x: 0px;
$icon-markers-found-active-offset-y: -89px;
$icon-markers-found-active-width: 22px;
$icon-markers-found-active-height: 22px;
$icon-markers-found-active-total-width: 40px;
$icon-markers-found-active-total-height: 738px;
$icon-markers-found-active-image: '../img/spritesheet.png';
$icon-markers-found-active: 0px 89px 0px -89px 22px 22px 40px 738px '../img/spritesheet.png';
$icon-markers-found-x: 0px;
$icon-markers-found-y: 111px;
$icon-markers-found-offset-x: 0px;
$icon-markers-found-offset-y: -111px;
$icon-markers-found-width: 22px;
$icon-markers-found-height: 22px;
$icon-markers-found-total-width: 40px;
$icon-markers-found-total-height: 738px;
$icon-markers-found-image: '../img/spritesheet.png';
$icon-markers-found: 0px 111px 0px -111px 22px 22px 40px 738px '../img/spritesheet.png';
$icon-markers-lost-active-x: 0px;
$icon-markers-lost-active-y: 133px;
$icon-markers-lost-active-offset-x: 0px;
$icon-markers-lost-active-offset-y: -133px;
$icon-markers-lost-active-width: 22px;
$icon-markers-lost-active-height: 22px;
$icon-markers-lost-active-total-width: 40px;
$icon-markers-lost-active-total-height: 738px;
$icon-markers-lost-active-image: '../img/spritesheet.png';
$icon-markers-lost-active: 0px 133px 0px -133px 22px 22px 40px 738px '../img/spritesheet.png';
$icon-markers-lost-x: 0px;
$icon-markers-lost-y: 155px;
$icon-markers-lost-offset-x: 0px;
$icon-markers-lost-offset-y: -155px;
$icon-markers-lost-width: 22px;
$icon-markers-lost-height: 22px;
$icon-markers-lost-total-width: 40px;
$icon-markers-lost-total-height: 738px;
$icon-markers-lost-image: '../img/spritesheet.png';
$icon-markers-lost: 0px 155px 0px -155px 22px 22px 40px 738px '../img/spritesheet.png';
$icon-pm-recieved-x: 0px;
$icon-pm-recieved-y: 202px;
$icon-pm-recieved-offset-x: 0px;
$icon-pm-recieved-offset-y: -202px;
$icon-pm-recieved-width: 20px;
$icon-pm-recieved-height: 26px;
$icon-pm-recieved-total-width: 40px;
$icon-pm-recieved-total-height: 738px;
$icon-pm-recieved-image: '../img/spritesheet.png';
$icon-pm-recieved: 0px 202px 0px -202px 20px 26px 40px 738px '../img/spritesheet.png';
$icon-private-x: 0px;
$icon-private-y: 228px;
$icon-private-offset-x: 0px;
$icon-private-offset-y: -228px;
$icon-private-width: 26px;
$icon-private-height: 26px;
$icon-private-total-width: 40px;
$icon-private-total-height: 738px;
$icon-private-image: '../img/spritesheet.png';
$icon-private: 0px 228px 0px -228px 26px 26px 40px 738px '../img/spritesheet.png';
$icon-search-x: 0px;
$icon-search-y: 177px;
$icon-search-offset-x: 0px;
$icon-search-offset-y: -177px;
$icon-search-width: 25px;
$icon-search-height: 25px;
$icon-search-total-width: 40px;
$icon-search-total-height: 738px;
$icon-search-image: '../img/spritesheet.png';
$icon-search: 0px 177px 0px -177px 25px 25px 40px 738px '../img/spritesheet.png';
$icon-simple-reg-x: 0px;
$icon-simple-reg-y: 458px;
$icon-simple-reg-offset-x: 0px;
$icon-simple-reg-offset-y: -458px;
$icon-simple-reg-width: 40px;
$icon-simple-reg-height: 40px;
$icon-simple-reg-total-width: 40px;
$icon-simple-reg-total-height: 738px;
$icon-simple-reg-image: '../img/spritesheet.png';
$icon-simple-reg: 0px 458px 0px -458px 40px 40px 40px 738px '../img/spritesheet.png';
$icon-step-check-x: 0px;
$icon-step-check-y: 254px;
$icon-step-check-offset-x: 0px;
$icon-step-check-offset-y: -254px;
$icon-step-check-width: 30px;
$icon-step-check-height: 30px;
$icon-step-check-total-width: 40px;
$icon-step-check-total-height: 738px;
$icon-step-check-image: '../img/spritesheet.png';
$icon-step-check: 0px 254px 0px -254px 30px 30px 40px 738px '../img/spritesheet.png';
$icon-step-disable-x: 0px;
$icon-step-disable-y: 284px;
$icon-step-disable-offset-x: 0px;
$icon-step-disable-offset-y: -284px;
$icon-step-disable-width: 30px;
$icon-step-disable-height: 30px;
$icon-step-disable-total-width: 40px;
$icon-step-disable-total-height: 738px;
$icon-step-disable-image: '../img/spritesheet.png';
$icon-step-disable: 0px 284px 0px -284px 30px 30px 40px 738px '../img/spritesheet.png';
$share-fb-x: 0px;
$share-fb-y: 386px;
$share-fb-offset-x: 0px;
$share-fb-offset-y: -386px;
$share-fb-width: 36px;
$share-fb-height: 36px;
$share-fb-total-width: 40px;
$share-fb-total-height: 738px;
$share-fb-image: '../img/spritesheet.png';
$share-fb: 0px 386px 0px -386px 36px 36px 40px 738px '../img/spritesheet.png';
$share-gplus-x: 0px;
$share-gplus-y: 314px;
$share-gplus-offset-x: 0px;
$share-gplus-offset-y: -314px;
$share-gplus-width: 36px;
$share-gplus-height: 36px;
$share-gplus-total-width: 40px;
$share-gplus-total-height: 738px;
$share-gplus-image: '../img/spritesheet.png';
$share-gplus: 0px 314px 0px -314px 36px 36px 40px 738px '../img/spritesheet.png';
$share-tw-x: 0px;
$share-tw-y: 422px;
$share-tw-offset-x: 0px;
$share-tw-offset-y: -422px;
$share-tw-width: 36px;
$share-tw-height: 36px;
$share-tw-total-width: 40px;
$share-tw-total-height: 738px;
$share-tw-image: '../img/spritesheet.png';
$share-tw: 0px 422px 0px -422px 36px 36px 40px 738px '../img/spritesheet.png';
$share-vk-x: 0px;
$share-vk-y: 350px;
$share-vk-offset-x: 0px;
$share-vk-offset-y: -350px;
$share-vk-width: 36px;
$share-vk-height: 36px;
$share-vk-total-width: 40px;
$share-vk-total-height: 738px;
$share-vk-image: '../img/spritesheet.png';
$share-vk: 0px 350px 0px -350px 36px 36px 40px 738px '../img/spritesheet.png';
$social-fb-x: 0px;
$social-fb-y: 538px;
$social-fb-offset-x: 0px;
$social-fb-offset-y: -538px;
$social-fb-width: 40px;
$social-fb-height: 40px;
$social-fb-total-width: 40px;
$social-fb-total-height: 738px;
$social-fb-image: '../img/spritesheet.png';
$social-fb: 0px 538px 0px -538px 40px 40px 40px 738px '../img/spritesheet.png';
$social-gp-x: 0px;
$social-gp-y: 578px;
$social-gp-offset-x: 0px;
$social-gp-offset-y: -578px;
$social-gp-width: 40px;
$social-gp-height: 40px;
$social-gp-total-width: 40px;
$social-gp-total-height: 738px;
$social-gp-image: '../img/spritesheet.png';
$social-gp: 0px 578px 0px -578px 40px 40px 40px 738px '../img/spritesheet.png';
$social-ok-x: 0px;
$social-ok-y: 618px;
$social-ok-offset-x: 0px;
$social-ok-offset-y: -618px;
$social-ok-width: 40px;
$social-ok-height: 40px;
$social-ok-total-width: 40px;
$social-ok-total-height: 738px;
$social-ok-image: '../img/spritesheet.png';
$social-ok: 0px 618px 0px -618px 40px 40px 40px 738px '../img/spritesheet.png';
$social-tw-x: 0px;
$social-tw-y: 658px;
$social-tw-offset-x: 0px;
$social-tw-offset-y: -658px;
$social-tw-width: 40px;
$social-tw-height: 40px;
$social-tw-total-width: 40px;
$social-tw-total-height: 738px;
$social-tw-image: '../img/spritesheet.png';
$social-tw: 0px 658px 0px -658px 40px 40px 40px 738px '../img/spritesheet.png';
$social-vk-x: 0px;
$social-vk-y: 698px;
$social-vk-offset-x: 0px;
$social-vk-offset-y: -698px;
$social-vk-width: 40px;
$social-vk-height: 40px;
$social-vk-total-width: 40px;
$social-vk-total-height: 738px;
$social-vk-image: '../img/spritesheet.png';
$social-vk: 0px 698px 0px -698px 40px 40px 40px 738px '../img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
