/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$icon-auth-x: 0px;
$icon-auth-y: 0px;
$icon-auth-offset-x: 0px;
$icon-auth-offset-y: 0px;
$icon-auth-width: 135px;
$icon-auth-height: 135px;
$icon-auth-total-width: 148px;
$icon-auth-total-height: 283px;
$icon-auth-image: '../img/spritesheet.png';
$icon-auth: 0px 0px 0px 0px 135px 135px 148px 283px '../img/spritesheet.png';
$icon-fb-x: 0px;
$icon-fb-y: 135px;
$icon-fb-offset-x: 0px;
$icon-fb-offset-y: -135px;
$icon-fb-width: 148px;
$icon-fb-height: 148px;
$icon-fb-total-width: 148px;
$icon-fb-total-height: 283px;
$icon-fb-image: '../img/spritesheet.png';
$icon-fb: 0px 135px 0px -135px 148px 148px 148px 283px '../img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
