.request {
	margin: 30px 0 60px 0;

	&__item {
		.item-status_0 {
			color: $gray;
		}

		.item-status_1 {
			color: $green;
		}

		.item-status_2 {
			color: red;
		}
	}

	TH {
		font-weight: bold;
	}

	TH, TD {
		vertical-align: middle !important;

		P {
			margin: 0;
		}
	}

	.cell-s {
		width: 250px;
		text-align: center;
	}
}