.form {

	&_signin,
	&_feedback {
		position: relative;

		LABEL.checkbox {
			padding: 0 20px;
			display: inline-block;
		}

		INPUT.form-control {
		    margin-bottom: 20px;
		}
	}

	&.form_signin {

		.form-error {
			position: absolute;
			width: 200px;
			top: 30px;
			left: 60px;
		}

		.g-recaptcha {
			margin: 10px 0;
		}

		.privacy {
			font-size: 12px;

			INPUT {
				vertical-align: middle;
				margin: 0;
			}
		}
	}

	&__error {
		display: none;
	}

	&_feedback {

		h2 {
			margin: 0px 0 30px 0;
		}

		textarea {
			width: 100%;
			height: 200px;
			margin-bottom: 20px;
		}

		.feedback {

			&__success,
			&__error {
				display: block;
				margin: 10px 0;
			}

			&__success {
				color: $green;
			}

			&__error {
				color: $red;
			}
		}
	}

	&_add {
		padding-top: 20px;
		border-top: 4px solid;

		LABEL.control-label {
			text-align: left;
		}

		textarea {
			height: 200px;
		}

		.g-recaptcha {
			margin: 20px 0 30px 0;
		}
	}

	&_lost {
		border-color: $red;
	}

	&_found {
		border-color: $green;
	}

	.phone_prefix {
		position: absolute;
		z-index: 99;
		left: -5px;
		top: 6px;
	}

	.reward {

		&__prefix {
			position: absolute;
			z-index: 12;
			right: 15px;
			top: 5px;
		}

		INPUT {
			width: 90%;
		}
	}

	#addUploadFilePreview{
		display: none;
    	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.15);
    	border-radius: 13px;
    	margin-top: 20px;
    	width: 200px;
    }

    #clearAddress {
    	color: #000;
    	display: inline-block;
    	cursor: pointer;
    	font-size: 18px;
    	display: none;
    }

	.datepicker-wrapper {

		INPUT#datepicker {
			display: inline-block;
			vertical-align: middle;
			width: 83%;
			margin-right: 3px;
		}

		.ui-datepicker-trigger {
			background: none;
			outline: none;
			border: none;
		}
	}

	.form-error {
		position: absolute;
	    font-size: 12px;
	    width: 93px;
	    padding: 5px;
	    line-height: 11px;
	    border-radius: 6px;
	    color: $red;
	    border: 1px solid #ccc;
	    left: -90px;
	}

}